html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    color:white;
}

main > * {
    background-color: black;	
    border:15px solid black;
}

main > header > #top {
    display: flex;
    flex-direction: row;
    flex-flow:row wrap;
    justify-content: space-between;
    background-color: #2d4059;
    border:15px solid #2d4059;
    align-items:center;
}

main > header > #top > * {
    background-color: #ea5455;
    height:20px;
    flex:1 1 0;
}

main > header > #top > #menu {
    flex-grow: 3; /* default 0 */
}

