html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    color:white;
}

main > * {
    background-color: black;	
    border:15px solid black;
}

main > header, main > section {
    margin-bottom:15px;
}

/* **************** HEADER ******************** */
main > header > * {
    display: flex;
}

main > header > #top {
    display: flex;
    background-color: #2d4059;
    border:15px solid #2d4059;
    justify-content: space-between;
}

main > header > #top > * {
    background-color: #ea5455;
    height:20px;
    text-align: center;
    flex: 1;
}

main > header > #top > #menu {
    flex: 4; 
    margin: 0 15px 0 15px;
}

main > header > #banner {
    display: flex;
    background-color: #fed460;
    border:15px solid #f07b3f;
    height:20px;
    margin-top: 10px;
}

/* ********************* SECTION *********************** */
main > section {
    display: flex;
}

main > section > article {
    flex: 4;
    background-color: #4e4e6a;
    border:15px solid #4e4e6a;
    justify-content: space-between;
}

main > section > article > * {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
main > section > article > * > *{
    background-color: #1f6cb0;
    flex: 2;
}
main > section > article > * > div:nth-child(2){
    margin-left:15px;
    height: 20px;
}

main > section > article > div:nth-child(3) {
    margin-bottom: 0px;
    background-color: #70a3c4;
    height: 20px;
}

main > section > aside {
    flex: 2;
    margin-left: 15px;
    background-color: #f73f52;
    border:15px solid #f73f52;
}

main > section > aside > *{
    background-color: #feea85;
    height: 20px;
}

main > section > aside > div:nth-child(2) {
    margin-top: 15px;
}

/* *********************** FOOTER ********************* */
main > footer {
    background-color: #e6af2e;
    height:20px;
}



/* *********************************************************************** */
/* ***************************** MEDIA *********************************** */
/* *********************************************************************** */

@media (min-width:600px) and (max-width: 800px) {
    main > * {
        border:20px solid black;
    }
    /* ********************* SECTION *********************** */
    main > section {
        background-color: #feff03;
        border:20px solid #feff03;
        display: block;
    }
    main > section > aside {
        margin: 20px 0 0 0;
    }

}

@media (max-width: 599px) {

    main > * {
        border:25px solid black;
    }
    /* ******************** HEADER ************************* */
    main > header > #top {
        display: block;
        background-color: #2d4059;
        border:25px solid #2d4059;
        justify-content: space-between;
    }
    
    main > header > #top > * {
        background-color: #ea5455;
        height:30px;
        text-align: center;
    }
    
    main > header > #top > #logo {
        margin: 0px 0px 25px 0px;
    }
    main > header > #top > #menu {
        margin: 0px 0px 25px 0px;
    }

    main > header > #banner {
        border:25px solid #f07b3f;
        height:30px;
        margin-top: 25px;
    }

    /* ********************* SECTION *********************** */
    main > section {
        display: flex;
        flex-direction: column;
        background-color: #fee228;
        border:25px solid #fee228;
    }
    
    main > section > article {
        display: flex;
        flex-direction: column;
        background-color: #09506f;
        border:25px solid #09506f;
    }
    
    main > section > article > * {
        margin-bottom: 0px;
        flex-direction: column;
    }
    main > section > article > * > div{
        background-color: #61959c;
        margin-bottom: 25px;
        height: 30px;
        flex:auto;
    }
    main > section > article > * > div:nth-child(2){
        margin-left:0px;
        height: 30px;
    }
    main > section > article > div:nth-child(3) {
        margin-bottom: 0px;
        background-color: #a3ddcb;
        height: 30px;
    }
    
    main > section > aside {
        margin: 30px 0 0 0;
        background-color: #fd7b54;
        border:25px solid #fd7b54;
    }
    
    main > section > aside > *{
        background-color: #fdb36b;
        height: 30px;
    }

    /* *********************** FOOTER ********************* */
    main > footer {
        background-color: #fdc764;
        height:30px;
    }

}
